<section class="adventure adventure--3d" data-tripon-adventure-3d aria-label="Adventure destinations in Bali">
        <div class="adventure__ambient" aria-hidden="true">
          <span class="adventure__foliage adventure__foliage--l"></span>
          <span class="adventure__foliage adventure__foliage--r"></span>
          <span class="adventure__ember"></span>
          <span class="adventure__ember"></span>
          <span class="adventure__ember"></span>
          <span class="adventure__ember"></span>
          <span class="adventure__ember"></span>
          <span class="adventure__ember"></span>
        </div>

        <header class="adventure__head">
          <h2>__ADVENTURE_HEADING__</h2>
          <p class="adventure-sub">See What you can do in Bali</p>
        </header>

        <div class="adventure__stage">
          <button class="adventure__nav adventure__nav--prev" type="button" data-adventure-prev
            aria-label="Previous location">
            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
          </button>

          <div class="adventure__ring-wrap">
            <div class="adventure__platform" aria-hidden="true">
              <div class="adventure__ring adventure__ring--outer"></div>
              <div class="adventure__ring adventure__ring--inner"></div>
              <div class="adventure__platform-shine"></div>
            </div>

            <div class="adventure__carousel place-row" data-adventure-carousel>
              <article class="place-item place-item--3d place-item-see-all" data-location-link="/locations/bali/">
                <div class="place-item__panel place-item__panel--see-all">
                  <div class="place-see-hero">
                    <img class="place-see-hero__img" src="__TRIPON_REL__assets/images/location2.png" alt="" />
                    <div class="place-see-badge" aria-hidden="true">
                      <span class="place-see-badge__flower"></span>
                      <span class="place-see-badge__ring">
                        <span class="place-see-badge__text">Bali</span>
                      </span>
                    </div>
                  </div>
                  <svg class="place-see-wave" viewBox="0 0 320 28" preserveAspectRatio="none" aria-hidden="true">
                    <path d="M0,28 C60,6 140,22 200,10 S280,4 320,18 L320,28 Z" fill="currentColor" />
                  </svg>
                  <div class="place-see-body">
                    <div class="place-see-body__mesh" aria-hidden="true"></div>
                    <h3 class="place-see-title">
                      <span class="place-see-title__line">See All The</span>
                      <span class="place-see-title__accent">Locations</span>
                    </h3>
                    <p class="place-see-sub">Explore complete Bali destination list</p>
                    <ul class="place-see-features" aria-label="Explore categories">
                      <li><i class="fa-solid fa-location-dot" aria-hidden="true"></i><span>Top Spots</span></li>
                      <li><i class="fa-solid fa-umbrella-beach" aria-hidden="true"></i><span>Best Trips</span></li>
                      <li><i class="fa-solid fa-camera" aria-hidden="true"></i><span>Must See</span></li>
                      <li><i class="fa-solid fa-compass" aria-hidden="true"></i><span>Travel Guide</span></li>
                    </ul>
                    <div class="place-see-footer">
                      <div class="place-see-trust">
                        <div class="place-see-avatars" aria-hidden="true">
                          <img src="__TRIPON_REL__assets/images/insta_pic1.png" alt="" />
                          <img src="__TRIPON_REL__assets/images/insta_pic2.png" alt="" />
                          <img src="__TRIPON_REL__assets/images/insta_pic3.png" alt="" />
                        </div>
                        <p class="place-see-trust__text"><strong>180K+</strong> Travelers<br />Exploring Bali</p>
                      </div>
                      <span class="place-see-cta" aria-hidden="true"><i class="fa-solid fa-arrow-right"></i></span>
                    </div>
                  </div>
                </div>
              </article>

              <article class="place-item place-item--3d" data-location-link="/locations/bali/ubud.html">
                <div class="place-item__panel">
                  <img class="place-item__img" src="__TRIPON_REL__assets/images/location1.png" alt="" />
                  <div class="place-item__overlay" aria-hidden="true"></div>
                  <div class="place-item__glow" aria-hidden="true"></div>
                  <div class="place-content">
                    <div class="place-content__pill">
                      <h3 class="place-content__title"><span class="place-content__line">Ubud</span></h3>
                    </div>
                    <p class="place-content__meta">
                      <span class="place-meta__line">20+ Activities</span>
                      <span class="place-meta__line">18 Sight Seeing</span>
                    </p>
                  </div>
                </div>
              </article>

              <article class="place-item place-item--3d is-active" data-location-link="/locations/bali/kuta.html"
                data-adventure-start>
                <div class="place-item__panel">
                  <img class="place-item__img" src="__TRIPON_REL__assets/images/location2.png" alt="" />
                  <div class="place-item__overlay" aria-hidden="true"></div>
                  <div class="place-item__glow" aria-hidden="true"></div>
                  <div class="place-content">
                    <div class="place-content__pill">
                      <h3 class="place-content__title">
                        <span class="place-content__line">Kuta,</span>
                        <span class="place-content__line">Bali</span>
                      </h3>
                    </div>
                    <p class="place-content__meta">
                      <span class="place-meta__line">15+ Activities</span>
                      <span class="place-meta__line">20 Sight Seeing</span>
                    </p>
                  </div>
                </div>
              </article>

              <article class="place-item place-item--3d" data-location-link="/locations/bali/lombok.html">
                <div class="place-item__panel">
                  <img class="place-item__img" src="__TRIPON_REL__assets/images/location3.png" alt="" />
                  <div class="place-item__overlay" aria-hidden="true"></div>
                  <div class="place-item__glow" aria-hidden="true"></div>
                  <div class="place-content">
                    <div class="place-content__pill">
                      <h3 class="place-content__title"><span class="place-content__line">Lombok</span></h3>
                    </div>
                    <p class="place-content__meta">
                      <span class="place-meta__line">15+ Activities</span>
                      <span class="place-meta__line">10 Sight Seeing</span>
                    </p>
                  </div>
                </div>
              </article>

              <article class="place-item place-item--3d" data-location-link="/locations/bali/seminyak.html">
                <div class="place-item__panel">
                  <img class="place-item__img" src="__TRIPON_REL__assets/images/location4.png" alt="" />
                  <div class="place-item__overlay" aria-hidden="true"></div>
                  <div class="place-item__glow" aria-hidden="true"></div>
                  <div class="place-content">
                    <div class="place-content__pill">
                      <h3 class="place-content__title"><span class="place-content__line">Seminyak</span></h3>
                    </div>
                    <p class="place-content__meta">
                      <span class="place-meta__line">18+ Activities</span>
                      <span class="place-meta__line">14 Sight Seeing</span>
                    </p>
                  </div>
                </div>
              </article>

              <article class="place-item place-item--3d" data-location-link="/locations/bali/nusa-penida.html">
                <div class="place-item__panel">
                  <img class="place-item__img" src="__TRIPON_REL__assets/images/location5.png" alt="" />
                  <div class="place-item__overlay" aria-hidden="true"></div>
                  <div class="place-item__glow" aria-hidden="true"></div>
                  <div class="place-content">
                    <div class="place-content__pill">
                      <h3 class="place-content__title">
                        <span class="place-content__line">Nusa</span>
                        <span class="place-content__line">Penida</span>
                      </h3>
                    </div>
                    <p class="place-content__meta">
                      <span class="place-meta__line">14+ Activities</span>
                      <span class="place-meta__line">12 Sight Seeing</span>
                    </p>
                  </div>
                </div>
              </article>

              <article class="place-item place-item--3d" data-location-link="/locations/bali/uluwatu.html">
                <div class="place-item__panel">
                  <img class="place-item__img" src="__TRIPON_REL__assets/images/location6.png" alt="" />
                  <div class="place-item__overlay" aria-hidden="true"></div>
                  <div class="place-item__glow" aria-hidden="true"></div>
                  <div class="place-content">
                    <div class="place-content__pill">
                      <h3 class="place-content__title"><span class="place-content__line">Uluwatu</span></h3>
                    </div>
                    <p class="place-content__meta">
                      <span class="place-meta__line">12+ Activities</span>
                      <span class="place-meta__line">9 Sight Seeing</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <button class="adventure__nav adventure__nav--next" type="button" data-adventure-next
            aria-label="Next location">
            <i class="fa-solid fa-chevron-right" aria-hidden="true"></i>
          </button>
        </div>
      </section>