<div class="tripon-site-ambient" id="triponSiteAmbient" aria-hidden="true">
  <span class="tripon-site-ambient__orb tripon-site-ambient__orb--1"></span>
  <span class="tripon-site-ambient__orb tripon-site-ambient__orb--2"></span>
  <span class="tripon-site-ambient__orb tripon-site-ambient__orb--3"></span>
  <span class="tripon-site-ambient__leaf tripon-site-ambient__leaf--tl"></span>
  <span class="tripon-site-ambient__leaf tripon-site-ambient__leaf--br"></span>
  <svg class="tripon-site-ambient__plane-path" viewBox="0 0 220 80" aria-hidden="true">
    <line x1="10" y1="60" x2="200" y2="20" />
  </svg>
  <span class="tripon-site-ambient__plane" aria-hidden="true"><i class="fa-solid fa-paper-plane"></i></span>
</div>
